<%-include("header")-%>
<div>
    <h1>What went wrong?</h1>
    <ul>
        <li>Maybe Api rate limit got exceeded, so try again in a few minutes</li>
        <li>
            Or the word you entered could not be found
        </li>
    </ul>
</div>
<%-include("footer")-%>