<%-include("header")-%>
<div class="container">
    <h1>Definitions</h1>
    <%for(var i=0;i<meaningList.length;i++){%>
        <li><%=meaningList[i]%></li>
    <%}%>

</div>


<%-include("footer")-%>