

    
        <%-include("header")-%><br><br>
<div class="container">
   
    <h1 class=" text-center"> <img src="/images/logo.jpg" alt="" class="logo" height="80px" width="80px" /> Welcome to WORDict </h1>
   


</div>
<br>
<br>
<div class="container">
   
        <div class="row">
          
            <div class="col-lg-6">
                <p class=side-text>
                    Fell upon a new word? You dont need to note <br> it down anymore, Wordict will do it for you. <br>
                    <!-- Wordict serves the purpose of improving one's vocabulary anytime ,anywhere based on personal requirements -->
               
                 <p class="side-text">-Enter a word which you dont understand well <br><br>
                -Wordict will not only tell you what it means but also <br> create a virtual notebook (a collection of your words),<br>
                 which you can refer to anytime, anywhere. <br><br>
                 
                </p>  
                <span class="save">Save trees and effort!</span>
                
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-4" id="signup">
              
     
     <div class="form-div">
        <br><h2><p class="text-left slight">Sign-In</p></h2><br>
        <form  action="/login" method="post">
            <input size="23" type="text"class="form-text"  name="username" id="username" placeholder=" &#xf007  Enter email-id"><br>
           <input size="23" type="password"class="form-text"  name="pass1" id="pass1" placeholder="&#xf09c  Enter password"><br><br>
          
          <button type="submit" class="btn btn-dark btn-md  btn1 "><span
               class="text2 ">LogIn</span></button>
       </form>
     </div>
        
              
             
             
                 
                
            </div>
           
            
        </div>
    </div>
    <br>
<%-include("footer")-%>
    
         
      
      
     
    
   
    
        
   



<%-include("footer")-%>