<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap"
        rel="stylesheet">
        <script src="https://use.fontawesome.com/07777d63cf.js"></script>
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" >
          <ul class="navbar-nav">
            <!-- <li class="nav-item ">
              <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link " href="/">HOME</a>
            </li>
            
            
          </ul>
        </div>
      </nav>
<section class="jumbo">
    <div class="container ">

        <h1 class=" text-center"> <img src="/images/logo.jpg" alt="" class="logo" height="100px" width="100px" /> MY
            WORDict </h1>
        <!-- <p class="text-center a-text">Tired of searching in a dictionary?<br>
        Learn new words with ease now.<br><br>
        <button type="button" class="btn btn-light btn-lg reg-buttons btn1"><a class="nav-link " href="#signup"><span
                    class="text1">Sign Up</span></a></button>
        <button type="button" class="btn btn-dark btn-lg reg-buttons"><a class="nav-link " href="/login"><span
                    class="text2">Login</span></a></button>
    </p> -->


    </div>
    <br>
    <hr class="my-4">
</section>

<br>
<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form action="/main" method="post">
                <input type="text" class="form-text" name="word" id="word"
                    placeholder=" &#xf002  I want to know the meaning of..">
                <br>

                <button type="submit" class="btn btn-dark btn-md text3" formaction="/main"><span>define</span></button>
            
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <br><br><br>

    <div class="container row">
       <% for(var i=0;i<wl.length;i++){%>
            <div class="col-lg-3 card  text-center">
                <%= wl[i] %> <br>
               <div class="small-text"><%= ml[i] %></div>
       </div>
    

       <% }%>
     
    </div>



</div>


<%-include("footer")-%>