html {
    scroll-behavior: smooth;
  }
  .jumbo{
      background-color: #eede53;

  }
body{
    background-color:#FCE944 ;
}
h1{
    padding-top: 5%;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 80px;
 
    
    
}
h2{
    font-size: 40px;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-left: 6rem;
}
p{
    font-family: 'Montserrat';
    font-weight: 600;
}
.reg-buttons{
align-content: center;
}
.text2{
    color:white;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
}
.text1{
    color:black;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;

}
.save{
    color:black;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 25px;


}

.text3{
    font-family: 'Montserrat';
    font-size: medium;
     font-weight:600 ;
     margin-left:10rem ;
}
.text4{
    font-family: 'Montserrat';
    font-size: medium;
     font-weight:600 ;
     
}
.side-text{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    margin-top: 5%;
}
.a-text{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
    margin-top: 5%;


}
.main-head{
    font-size: 180px;
}

.btn1{
    margin-right: 3%;
}
.form-text{
    
    font-size: 20px;
}

input {
    padding:10px;
      font-family: FontAwesome,  'Montserrat';
      
      font-weight: 600;
      color: black;
      text-decoration: inherit;
  }
form{
    padding-left: auto;
}
.logo{
    margin-left: auto;
    margin-bottom: auto;
}


.card{
    height:250px;
    width:250px;
    
        font-family: 'Montserrat';
        font-size: 30px;
       
    
    
    background-color: #eede53;
    font-weight: 600;
    margin:10px;
    padding-top: 80px;
    
    position: relative;
    

}
.card:hover{
    background-color: #343A40 ;
    color:white;
}

.card:hover .small-text{
    visibility:visible;
    

}

#hint-text{
    font-size:15px;
}


.small-text{
    font-size:13px;
    font-family: 'Montserrat';
    visibility: hidden;

}
.sub-txt{
    font-family: 'Montserrat';
    font-weight: 600;
}
.linear-form{
    display: inline;
}
#cont-mar{
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}
.center-btn{
    margin-left: 18px;
}
.form-div{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.slight{
    padding-right: 10px;
    font-size: 45px;
    font-weight: 600;
}


